.warning:before {
  content: "⚠";
}

.notice {
  margin: 20px;
  padding: 0 20px;
  border-inline-start: 2px solid rgb(26, 127, 55);
}

.notice:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin-inline-start: calc(-1.5rem - 21px);
  content: "ⓘ";
  text-align: center;
  background-color: var(--bg);
  color: rgb(26, 127, 55);
  font-weight: bold;
  font-size: 2rem;
}
